.estruturaLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cardLogin{
  height: auto;
  width: 800px;
  display: flex;
  align-items: center;
  border: 5px solid #8C2B2B;
  border-radius: 8px;
}

.tituloLogin{
  font-size: 32px;
  font-weight: 500;
}


.camposCadastroUsuario{
  width: auto;
  margin: 10px 10px 10px 0;
}

.buttonLogin{
  width: 250px;
  height: 45px;
  border: 2px solid #3f51b5;
  color:#3f51b5 !important;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.radioButton{
  --mdc-radio-disabled-selected-icon-color: #000;
    --mdc-radio-disabled-unselected-icon-color: #000;
    --mdc-radio-unselected-hover-icon-color: #212121;
    --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-radio-selected-focus-icon-color: #8C2B2B;
    --mdc-radio-selected-hover-icon-color: #8C2B2B;
    --mdc-radio-selected-icon-color: #8C2B2B;
    --mdc-radio-selected-pressed-icon-color: #8C2B2B;
    --mat-radio-ripple-color: #000;
    --mat-radio-checked-ripple-color: #8C2B2B;
    --mat-radio-disabled-label-color: rgba(0, 0, 0, 0.38);
}
