<h1 mat-dialog-title class="font-TituloModal">Histórico de gastos
  <button mat-icon-button aria-label="close dialog" mat-dialog-close style="float: right; margin-top: 10px; margin-right: -15px;">
       <mat-icon style="color: #A1A1A1;">close</mat-icon>
  </button>
</h1>

<div mat-dialog-content style="padding-right: 0 !important; padding-left: 0 !important; width: 600px;">
  <div style="display: flex; flex-direction: column; color:#000;">
    <span style="padding-left: 40px;">Total gasto: {{dataTotalGasto}}</span>
    <span style="padding-left: 40px;font-size: 22px;font-weight: 500;margin-top: 25px;">Total de gasto por mês</span>
    <div style="display: flex; flex-direction: column; width: auto; height: auto; color: #000; padding: 10px;margin: 15px 50px;">
      <table mat-table [dataSource]="dataTotalPorMes" class="mat-elevation-z8">
        <ng-container *ngFor="let column of colunas; let i = index" [matColumnDef]="column.campo">
          <th mat-header-cell *matHeaderCellDef>{{ column.exibicao }}</th>
          <td mat-cell *matCellDef="let element">{{ element[column.campo] }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="colunasNomes"></tr>
        <tr mat-row *matRowDef="let row; columns: colunasNomes;"></tr>
      </table>
    </div>

  </div>
</div>
