<div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin: 20px;" *ngIf="donoDoCentro">
  <button mat-button class="buttonCadastros" (click)="openModalCadastrarCentro()">Cadastrar centro esportivo</button>
  <h1>CENTROS ESPORTIVOS</h1>
  <button mat-button class="buttonCadastros" (click)="openModalAceitarAgendamentos()">Gerenciar requisições</button>
</div>

<div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin: 20px;" *ngIf="!donoDoCentro">
  <div></div>
  <h1 style="font-weight: 500;">CENTROS ESPORTIVOS</h1>
  <div></div>
</div>

<div *ngFor="let item of dataCentroEsportivo">
  <div class="centro-esportivo-card">
    <div class="imagem-container">
      <img src="{{item.photo_urls}}" alt="Imagem do Centro Esportivo">
    </div>
    <div class="info-container">
      <mat-card-title class="tituloCardCentro" *ngIf="donoDoCentro; else tituloPadrao">
        <mat-icon fontIcon="delete" (click)="excluirCentroEsportivo(item.id)" matTooltip="Excluir centro esportivo" matTooltipPosition="above"></mat-icon>
        {{ item.name }}
        <mat-icon fontIcon="edit" (click)="openModalEditarCentro(item.id)" matTooltip="Editar centro esportivo" matTooltipPosition="above"></mat-icon>
      </mat-card-title>
      <ng-template #tituloPadrao>
        <mat-card-title>
          <h2>{{ item.name }}</h2>
        </mat-card-title>
      </ng-template>
      <mat-card-content>
        <div class="info-detalhada">
          <div>
            <span style="color: #14213d !important; font-weight: 500;">Informações</span>
            <!-- Adapte as informações conforme necessário -->
            <div class="linhaCardInfos">
              <span>Telefone: {{item.contact_number}}</span>
            </div>
            <div class="linhaCardInfos">
              <span *ngIf="item.parking == true; else negativaEstacionamento">Possui estacionamento</span>
              <ng-template #negativaEstacionamento>
                <span>Não possui estacionamento</span>
              </ng-template>
            </div>
            <div class="linhaCardInfos">
              <span *ngIf="item.steakhouse == true; else negativaLanchonete">Possui lanchonete</span>
              <ng-template #negativaLanchonete>
                <span>Não possui lanchonete</span>
              </ng-template>
            </div>
            <div class="dividerCard"></div>
            <span style="color: #14213d !important; font-weight: 500;">Endereço</span>
              <div class="linhaCardInfos endereco">
                <div class="linhaCardInfos">
                  <span *ngIf="item.address.street"> Número: {{item.address.street}}</span>
                </div>
                <div class="linhaCardInfos">
                  <span *ngIf="item.address.street_number"> Número: {{item.address.street_number}}</span>
                </div>
                <div class="linhaCardInfos">
                  <span *ngIf="item.address.city"> Cidade: {{item.address.city}}</span>
                </div>
                <div class="linhaCardInfos">
                  <span *ngIf="item.address.state"> Estado: {{item.address.state}}</span>
                </div>
                <div class="linhaCardInfos">
                  <span *ngIf="item.address.zip_code"> CEP: {{item.address.zip_code}}</span>
                </div>
                <div class="linhaCardInfos">
                  <span *ngIf="item.address.neighborhood"> Bairro: {{item.address.neighborhood}}</span>
                </div>
              </div>
          </div>
          <div class="buttomClass">
            <button mat-button class="buttonAcessoCentroCustom" [routerLink]="['/quadras', item.id]">Acessar centro esportivo</button>
          </div>
        </div>
      </mat-card-content>
    </div>
  </div>
</div>
