/* Reset de estilos */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

/* Estilos do contêiner da página */
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tituloCardCentro[_ngcontent-ng-c4028146540] {
  display: flex;
  font-weight: 600;
  color: #14213D;
  font-size: 26px;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 200px 0;
}


.buttonCadastros {
  background-color: #14213d;
  color: #fff !important;
  font-size: 18px;
}

/* Estilos do título h1 da página */
h1 {
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
}

/* Estilos dos cards de quadras */
.mat-card {
  width: 90%;
  max-width: 400px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  background: #fff;
  border-radius: 15px;
}

/* Estilos do título do card */
.tituloCardCentro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

/* Estilos do conteúdo do card */
.mat-card-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px;
}

/* Estilos das informações no card */
.linhaCardInfos {
  margin-left: 10px;
}

/* Estilos da imagem no card */
.mat-card-content img {
  height: 150px;
  width: auto;
}

/* Estilos do botão de reserva */
.buttonAgendar {
  background-color: #14213d;
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
}


/* Estilos responsivos para telas menores */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .buttonCadastros {
    margin-top: 10px;
  }

  .mat-card {
    max-width: 400px;
  }

  .mat-card-content img {
    width: 100%;
    height: auto;
  }
}
