<mat-toolbar class="topBar">
  <mat-toolbar-row>
    <span (click)="redirect()" class="logo">JOGO CERTO</span>
    <span class="fill-remaining-space"></span>
    <button mat-button (click)="acessarLogin()" *ngIf="!logado; else deslogado" class="login-button">Login</button>
    <ng-template #deslogado>
      <button mat-button [matMenuTriggerFor]="menu" class="user-menu">
        <mat-icon class="user-icon" style="width: 100%; height: 100; margin-right: 8px !important; margin-top: -3.5px; font-size: 20px !important; ">person</mat-icon>
        <span class="user-name">{{nomeUsuario}}</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="telaRelatorio" (click)="openModalGastos()">Gastos</button>
        <button mat-menu-item *ngIf="telaRelatorio" (click)="openModalReservas()">Reservas</button>
        <button mat-menu-item *ngIf="telaRelatorio" (click)="openModalRelatorios()">Últimos 10 agendamentos</button>

        <button mat-menu-item *ngIf="relatorios" (click)="openModalGanhos()">Ganhos</button>
        <button mat-menu-item *ngIf="relatorios" (click)="openModalAgendamentos()">Agendamentos</button>
        <button mat-menu-item *ngIf="relatorios" (click)="openModalUsuarioRentavel()">Usuário mais rentável</button>

        <button mat-menu-item (click)="logout()">Sair</button>
      </mat-menu>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
